<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="public/stylesgp.css">
    <link rel="icon" href="imge/garraplacas.jpg">
    <title>Garra placas</title>
</head>
<body>
    <!-- <h1>Main</h1> -->
    <%- include('header') %> 

    <div class="card" style="text-align: center; margin-left: 200px; margin-right: 200px; margin-bottom: 50px">
      <h1 class="card-header">Garra Placas</h1>
      <div class="card-body">
        <h5 class="card-title">¿Quienes Somos?</h5>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Garra Placas es un negocio familiar, dedicado a la creación, produccion y venta de placas personalizadas para los peluditos del hogar.
          Mediante este novedoso servicio buscamos ofrecer un modelo de ventas personalizado e integral para satisfacer las necesidades de nuestros clientes con productos novedosos y de calidad, junto a una eficiente atención.</p>
     <!--  <a href="#" class="btn btn-primary">Go somewhere</a>--> 
      </div>
      <div class="justify-content-center">
      <img src="imge/confeccion.PNG" alt="" width="150" height="80" class="d-inline-block align-text-top">
    </div>
    </div>

    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <%- include('footer') %> 
</body>
</html>