<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="public/stylesgp.css">
    <title>Garra placa</title>
</head>
<body>
    <!-- <h1>Main</h1> -->
    <%- include('header') %> 

    <div class="card" style="text-align: center; margin-left: 200px; margin-right: 200px; margin-bottom: 50px">
      <h1 class="card-header">Garra Placas</h1>
      <div class="card-body">
        <h5 class="card-title">Precios</h5>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Collares: $2.000</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Placas personalizadas: $6.000</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Pack collar + placa: $5.500</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Envío dentro de Santiago: $900</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Envío fuera de santiago: $1.500</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Las placas pueden adquirirse sin collar y adaptar la funcionalidad
        que tú quieras, como llavero, recuerdo, etc.</p>

     <!--  <a href="#" class="btn btn-primary">Go somewhere</a>--> 
      </div>
      <!-- <div class="justify-content-center">
      <img src="" alt="" width="150" height="80" class="d-inline-block align-text-top">
    </div> -->
    </div>

    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <%- include('footer') %> 
</body>
</html>