<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="public/stylesgp.css">
    <link rel="icon" href="imge/garraplacas.jpg">
    <title>Garra placas</title>
</head>
<body>

  <%- include('header') %> 

    <div class="card" style="text-align: center; margin-left: 200px; margin-right: 200px; margin-bottom: 50px">
      <h1 class="card-header">Garra Placas</h1>
      <div class="card-body">
        <h5 class="card-title">Envíos</h5>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Garra Placas cuenta con un servicio de envíos mediante Starken,
          llevando pédidos tanto dentro, como fuera de la ciudad de Santiago, llegando a cada región, ciudad y comuena.</p>

          <p class="card-text" style="margin-left: 50px; margin-right: 50px"> Los envíos se concretan y se llevan cada dos semanas posteriores al pedido de los productos, dando tiempo 
        así para la creaciónde los diseños de las placas y produccíon de estas.</p>

        <p class="card-text" style="margin-left: 50px; margin-right: 50px">  Los tiempos de entrega, posterior a las dos semanas de creación y producción oscilan entre 1 y 2 días, dependiendo de la distancia 
        a la que se encuentre el cliente.
        </p>
     <!--  <a href="#" class="btn btn-primary">Go somewhere</a>--> 
      </div>
      <!-- <div class="justify-content-center">
      <img src="" alt="" width="150" height="80" class="d-inline-block align-text-top">
    </div> -->
    </div>


    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <%- include('footer') %> 
</body>
</html>