<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="public/stylesgp.css">
    <link rel="icon" href="imge/garraplacas.jpg">
    <title>Garra placas</title>
</head>
<body>

  <%- include('header') %> 


    <div class="card" style="text-align: center; margin-left: 200px; margin-right: 200px; margin-bottom: 50px">
      <h1 class="card-header">Garra Placas</h1>
      <div class="card-body">
        <h5 class="card-title">transferencias</h5>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Garra Placas no cuenta con un sistema de pago implementado
           en la página web, ya que al ser una pyme los procesos y flujos de pago  no alcanzan una gran escala, por lo que se utiliza 
           y prioriza el sistema de transferencias. Para pagar por tus placas y envío de estas debes visualizar el apartado informativo
           de precios.
        </p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Los datos para la transferencia son:</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Garra Placas</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">16.098.678-5</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">+56964536890</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Cuenta Vista</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">Banco Coopeuch</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">213456278</p>
        <p class="card-text" style="margin-left: 50px; margin-right: 50px">garraplacaspyme@gmail.com</p>
      </div>

    </div>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <%- include('footer') %> 
</body>
</html>