<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css">
    <link rel="stylesheet" href="public/stylesgp.css">
    <title>Garra placa</title>
</head>
<body>
    <!-- <h1>Main</h1> -->
    <%- include('header') %> 


    <form action="Userform/registrarCliente" method="POST">

       <div class="row g-3" style="margin-left: 90px; margin-right: 90px; margin-bottom: 50px">
        <h3>Datos Cliente</h3>
      <div class="col-md-6">
        <label for="nombrecliente" class="form-label">Nombre Cliente</label>
        <input type="text" class="form-control" id="nombrecliente" name="nombre">
      </div>
      <div class="col-md-6">
        <label for="rut" class="form-label">Rut Cliente</label>
        <input type="number" class="form-control" id="rut" name="rut">
      </div>
      <div class="col-md-6">
        <label for="number" class="form-label">Teléfono</label>
        <input type="number" class="form-control" id="number" name="telefono">
      </div>

      <div class="col-md-6">
        <label for="inputState" class="form-label">Region</label>
        <select id="inputState" class="form-select" name="region">
        <option selected>Seleccione...</option>
      <% for(let i=0; i < regiones.length; i++) { %>

        <option > <%= regiones[i].nombre_region %></option>

        <% } %>

      </select>
    </div>
      



    <div class="col-md-6">
      <label for="inputState" class="form-label">Comuna</label>
      <select id="inputState" class="form-select" name="comuna">
      <option selected>Seleccione...</option>

        <option ></option>

      </select>
    </div>


  


      
      <div class="col-md-3">
        <label for="calle" class="form-label">Calle</label>
        <input type="text" class="form-control" id="calle" name="calle">
      </div>
      <div class="col-md-3">
        <label for="number" class="form-label">Numero</label>
        <input type="number" class="form-control" id="numero" name="numero">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="email">
      </div>
      <h3>Datos Mascota</h3>
      <div class="col-md-6">
        <label for="nombremascota" class="form-label">Nombre Mascota</label>
        <input type="text" class="form-control" id="nombremascota" name="nombremascota">
      </div>

      <div class="col-md-6">
        <label for="tipomascota" class="form-label">Tipo Mascota</label>
        <input type="text" class="form-control" id="tipomascota" name="tipomascota">
      </div>
      
      <div class="col-md-6">
        <label for="inputState" class="form-label">Agregar Collar</label>
        <select id="inputState" class="form-select" name="collar">
          <option selected>Seleccione...</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="inputState" class="form-label">Color Collar</label>
        <select id="inputState" class="form-select" name="colorcollar">
          <option selected>Seleccione...</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="inputState" class="form-label">Tamaño Collar</label>
        <select id="inputState" class="form-select" name="tamano">
          <option selected>Seleccione...</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="inputState" class="form-label">Color de Placa</label>
        <select id="inputState" class="form-select" name="colorplaca">
          <option selected>Seleccione...</option>  
        </select>
      </div>

      <div class="col-md-6">
        <label for="informacion" class="form-label">Información Placa</label>
        <input type="text" class="form-control" id="informacion" name="informacion">
      </div>

      <div class="col-12">
        <label for="inputAddress" class="form-label">Foto referencial: </label>
        <input type="file" size="25" id="nomArch1" name="nomArch1" />
       <!--  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"> -->
      </div>
      <h3>Datos de Pago</h3>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Foto Comprobante: </label>
        <input type="file" size="25" id="nomArch1" name="nomArch1" />
       <!--  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"> -->
      </div>
      <div  style="margin-left: 50px; margin-right: 50px; text-align: center;margin-top: 80px;">
      <p class="card-text">Los datos brindados por el cliente serán utilizados para 
        realizar el envío de los productos, así como también para completar la informacíon de contacto al reverso de las placas de
        las mascotas.
     </p>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" >Enviar Formulario</button>
        
      </div>
       </div>
    </div>
    </form>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <%- include('footer') %> 
</body>
</html>